<p-dropdown [options]="userList" [(ngModel)]="selectedUsers" placeholder="Select User"></p-dropdown>

{{selectedUsers | json}}

<p-cascadeSelect [(ngModel)]="selectedCity1" [options]="countryList" optionLabel="cname" optionGroupLabel="name" 
    [optionGroupChildren]="['states', 'cities']" [style]="{'minWidth': '14rem'}"></p-cascadeSelect>

<app-component-a></app-component-a>    
<app-component-b></app-component-b>

<app-componenet-c></app-componenet-c>
<p-accordion>
    <p-accordionTab header="Header 1" [selected]="true">
       Content 1
    </p-accordionTab>
    <p-accordionTab header="Header 2">
        Content 2
    </p-accordionTab>
    <p-accordionTab header="Header 3">
        Content 3    
    </p-accordionTab>
</p-accordion>
<app-timeline ></app-timeline>


